<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Title -->
		<title>ELMS | Home Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta charset="UTF-8">
		<!-- Styles -->
		<link type="text/css" rel="stylesheet" href="/assets/plugins/materialize/css/materialize.min.css"/>
		<link href="/assets/plugins/material-preloader/css/materialPreloader.min.css" rel="stylesheet">
		<!-- Theme Styles -->
		<link href="/assets/css/alpha.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]
<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
[endif]-->
	</head>
	<body style="background-color:black">
		<div class="loader-bg"></div>
		<div class="loader">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-spinner-teal lighten-1">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<div>
		<button onclick="window.location.href='admin/login.html'" class=" waves-light green right btn" style="margin:20px; width:150px">Admin</button>
		<button onclick="window.location.href='login/index.html'" class="waves-light blue right btn" style="margin:20px; width:150px">Employeee</button>
		</div>
		<div style="margin:auto; text-align:center; width:60%; padding:200px 0">
							<img src="/AXImprove-Full-Logo.png" width="218px" height="60px" style="">
							<h4 style="color:white">Welcome to Leave Management System</h4>
		</div>
		<!-- Javascripts -->
		<script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
		<script src="assets/plugins/materialize/js/materialize.min.js"></script>
		<script src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
		<script src="assets/js/alpha.min.js"></script>
	</body>
</html>