<aside id="slide-out" class="side-nav white fixed">
	<div class="side-nav-wrapper">
		<div class="sidebar-profile">
			<div class="sidebar-profile-image">
				<img src="/assets/images/admin.png" alt="">
			</div>
			<div class="sidebar-profile-info">
				<p>Admin</p>
			</div>
		</div>
		<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
			<li class="no-padding"><a class="waves-effect waves-grey" href="/admin/home"><i class="material-icons">home</i>Home</a></li>
			<li class="no-padding">
				<a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Department<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="/admin/dept/add-dept">Add Department</a></li>
						<li><a href="/admin/dept/manage-dept">Manage Department</a></li>
					</ul>
				</div>
			</li>			
			<li class="no-padding">
				<a class="collapsible-header waves-effect waves-grey"><i class="material-icons">account_box</i>Employees<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="/admin/emp/add-emp">Add Employee</a></li>
						<li><a href="/admin/emp/manage-emp">View Employees</a></li>
					</ul>
				</div>
			</li>
			<li class="no-padding">
				<a class="collapsible-header waves-effect waves-grey"><i class="material-icons">code</i>Leave Type<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="/admin/leaves/add-leave-type">Add Leave Type</a></li>
						<li><a href="/admin/leaves/manage-leave-type">View Leave Types</a></li>
					</ul>
				</div>
			</li>
			<li class="no-padding">
				<a class="waves-effect waves-grey" href="/admin/leaves/leave-history"><i class="material-icons">desktop_windows</i>Leave History</a>
			</li>
			<li class="no-padding">
				<a class="waves-effect waves-grey" href="#"><i class="material-icons">exit_to_app</i>Sign Out</a>
			</li>
		</ul>
	</div>
</aside>