{% extends "_head_user.njk" %} {% block add_admin %}
<ul class="right col s9 m3 nav-right-menu">
  <li class="hide-on-small-and-down">
    <a
      href="javascript:void(0)"
      data-activates="dropdown1"
      class="dropdown-button dropdown-right show-on-large"
      ><i class="material-icons">notifications_none</i>
      <span class="badge">2</span>
    </a>
  </li>
</ul>
<ul id="dropdown1" class="dropdown-content notifications-dropdown">
  <li class="notificatoins-dropdown-container">
    <ul id="notif-list">
      <li class="notification-drop-title">Notifications</li>
      <li>
        <a href="/leave-details?leave-id=1">
          <div class="notification">
            <div class="notification-icon circle cyan">
              <i class="material-icons">done</i>
            </div>
            <div class="notification-text">
              <p>
                <b>Sam Morgan<br />(AXI00x)</b> applied for leave
              </p>
              <span>at PostingDate</span>
            </div>
          </div>
        </a>
      </li>
      {# if($query1->rowCount() > 0) { foreach($results1 as $result) { ?> #}
      <li>
        <a href="/manage-employee">
          <div class="notification">
            <div class="notification-icon circle red">
              <i class="material-icons">done</i>
            </div>
            <div class="notification-text">
              <p>
                <b>Sam Morgan<br />(AXI00x)</b> has been working for over 6 months
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endblock %}
