{% set page_title = "Manage Departments" %} 
{% extends "base_admin.njk"%}
{% block content%}
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <h4 style="text-align:center">Department Info</h4 >
        <div class="succWrap" style="display:none;"><strong>SUCCESS</strong> :  </div>
        <table id="example" class="display responsive-table ">
          <thead>
            <tr>
              <th>Sr no</th>
              <th>Dept Name</th>
              <th>Dept Code</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>DepartmentName</td>
              <td>DepartmentCode</td>
              <td><i class="material-icons">delete_forever</i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}		
{% block add_script %}
<script src="/assets/js/pages/table-data.js"></script>
{% endblock %}